services:
  - type: web
    name: praehire-backend
    env: node
    region: oregon
    plan: free
    buildCommand: npm install
    startCommand: node backend/src/server.js
    envVars:
      - key: MONGO_URI
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: GEMINI_API_KEY
        sync: false
